form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

.form-group input {
    width: 50px;
    margin-right: 10px;
}

.form-group span {
    margin-right: 10px;
}