
form {
    width: 400px;
    transform: scale(0.7);
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 30px;
    margin: auto;
    top: -150px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
    color: #1b1818;
  
  }
.errors {
  color: #7c1e1e;
}
  header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
  
  label {
   /*  position:absolute; */
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  input {
    width: 100%;
    background-color: #e0e4e9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 10px;
    border: none;
    color: #050505;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #fff;
  }
  
  input:hover {
    background-color: #3d4c5a;
    color: #e0e4e9;
  }
  
  btn {
    background-color: #0e0c0c;
    color: #548ec7;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
   
  }
  
  button:hover {
    background-color: #2b2d30;
    color: #fff;
  }
  select {
    position: relative;
    
  }

  select option {
 
    top: 100%;
    left: 100px;
    right: 500px;
  }


  .temperaments {
    
    width: 100px; 
    height: 100px;
  }
  .temperaments:hover {
      font-size: 30px;
      width: 300px; 
      height: 180px;
    }
   